.facts-container {
    width: 100%;
    max-width: 1100px;

    margin: auto;

    padding: 0 20px 80px;
}


/* HEADING */

.facts-heading {
    padding: 30px 0 35px;

    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    border-bottom: 1px solid rgba(255,255,255,.15);
}

.facts-small {
    color: #888;

    font-size: 11px;

    letter-spacing: 4px;
}

.facts-heading h1 {
    margin: 10px 0;

    font-size: 44px;
}

.facts-heading h1 span {
    color: red;
}

.facts-heading p {
    color: #777;
}

.facts-number {
    color: red;
}


/* GRID */

.facts-grid {
    margin-top: 25px;

    display: grid;

    grid-template-columns:
        repeat(2, 1fr);

    gap: 18px;
}


/* CARD */

.fact {
    min-height: 280px;

    padding: 30px;

    background: rgba(0,0,0,.8);

    border:
        1px solid rgba(255,255,255,.13);

    transition: .3s;
}

.fact:hover {
    border-color: red;

    transform:
        translateY(-5px);

    box-shadow:
        0 15px 30px rgba(255,0,0,.08);
}

.fact > span {
    color: red;

    font-size: 10px;

    letter-spacing: 2px;
}

.fact-icon {
    margin: 35px 0 25px;

    color: white;

    font-size: 35px;
}

.fact h2 {
    font-size: 18px;

    letter-spacing: 1px;
}

.fact p {
    max-width: 450px;

    margin-top: 12px;

    color: #777;

    font-size: 13px;

    line-height: 1.7;
}


@media (max-width: 650px) {

    .facts-grid {
        grid-template-columns: 1fr;
    }

    .facts-number {
        display: none;
    }

}